<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">

div{
	width: 300px;
	height: 100px;
	
	border: 1px solid #ccc;
	float: left;
	padding: 5px;
	margin: 10px;
}

#visible{
	overflow: visible;
}

#hidden{
	overflow: hidden;
}

#scroll{
	overflow: scroll;
}

</style>

</head>
<body>
<div id="visible">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.aucibus cursus molestie. Nam auctor mauris non aucibus cursus molestie. Nam auctor mauris non </p>
</div>		
<div id="hidden">		
	<p>Ut faucibus cursus moleaucibus cursus molestie. Nam auctor mauris non aucibus cursus molestie. Nam auctor mauris non stie. Nam auctor mauris non rutrum consequat.
	 Cras aliqlor sit amet, consectet
	
	 </p>
</div>
<div id="scroll">
	<p>Interdum et malesuada fames ac ante ipsum primiaucibus cursus molestie. Nam auctor mauris non aucibus cursus molestie. Nam auctor mauris non s in</p> 
</div>
	
</body>
</html>