<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">
	span{
	/* 인라인 요소에는 테두릴 적용하고
		반드시 확인해봐야 한다.  */
		/* border: 1px solid red; */
		
	background-color: #f99;	
	
	/* 줄간격 기본값 1.35em  */
	line-height: 2.5em;	
	
	
	/* 글자 크기 기본값 16px */
		font-size: 20px;
		
	/* 내부여백 */
	padding: 5px;	
	
	/*외부여백  */
	/* 상하 마진이 없다 */
	/* 좌우로는 다른 요소와의 간격이 생긴다  */
	margin: 30px;
	}

</style>

</head>
<body>
	<span>span1</span>
	<span>span2</span>
	<span>span3span3span3span3span3span3span3span3span3s</span>
</body>
</html>