<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">

	#wrap > div{
		display: inline-block;
		border: 1px solid #ccc;
		
		width: 150px;
		height: 100px;
		padding: 10px;
		margin: 20px;	
	}

	#wrap{
		/* 내부 정렬 */
		text-align: center;
		
		/* 외부정렬  */
		width: 1100px; /* 넓이지정 필수  */
		margin: 0 auto;
		
		/* 테두리  */
		border: 1px solid red;
	}

</style>

</head>
<body>

<div id="wrap">
	<div>div1 div1</div>
	<div>div2 div2</div>
	<div>div3 div3</div>
	<div>div4 div4</div>
	<div>div5 div5</div>
</div>	
	
	
</body>
</html>