<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>


<style type="text/css">

img{
	float: left;
	margin: 5px;
}


</style>

</head>
<body>

	<img src= "/resources/image/tim.jpg"
	style="width: 200px; height: 200px;">
	<p>
	Lorem ipsum dolor sit amet,consectetur adipiscing elit.
	urabitur vitae commodo dolor. Vestibulum tempus luctus congue. 
	</p>
	<br>
	<p style="clear:left;">
	Pellentesque et leo eros. Donec in purus egestas, 
	volutpat ante eu, hendrerit nisi. Curabitur lobortis metus sit amet arcu b
	landit, et cursus massa congue. In consequat diam a velit tincidunt, 
	quis pharetra felis convallis. Viv
	</p>


</body>
</html>