<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">
	
	table{
		border: 1px solid #ccc;
		
		/* 외부정렬 */
		margin: 0 auto;		
		
		/*내부 정렬  */
		text-align: center;
		
		
		/*  */
		padding: 5px;
	}

th{
	border: 1px solid #f99;
}	

td{
	border: 1px solid #9f9;
}

th, td{
	padding: 2px;
	
	/* 마진은 적용되지 않는다 */

}

</style>

</head>
<body>
	<table>
		<tr>
			<th>a</th>
			<th>b</th>
			<th>c</th>		
		</tr>
		<tr>
			<td>1</td>
			<td>2</td>
			<td>3</td>		
		</tr>
		<tr>
			<td>AAAA</td>
			<td>BBBB</td>
			<td>CCCC</td>
		</tr>
	
	</table>
	
</body>
</html>