<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">
	.imgbox{
		/* 컨텐츠 크기 */
/* 		width: 200px;
		height: 100px; */
		
		width:320px;
		height: 260px;
		
		border: 1px solid red;
		/*넘친 부분 처리 */
		overflow: visible;
		
		/* 내부 정렬  */
		text-align: center;
		
		/* 상대위치 지정 */
		position: relative;
		left: 100px;
		
		/*-------------------------------------------  */
		/*box-shadow: 요소의 그림자 설정  */
		/*box-shadow: x축이동 y축이동 흐려짐(blur) 펼처짐(spread) 색상  */
		-webkit-box-shadow: 5px 5px 10px 0px #999;
		-moz-box-shadow: 5px 5px 10px 0px #999;
		box-shadow: 5px 5px 10px 0px #999;
		/*-------------------------------------------  */
		
deg);
		-moz-transform: rotate(5deg);
		-webkit-transform: rotate(5);
		transform: rotate(5deg);
	}
</style>

</head>
<body>

<header>
<h1>semantic tag layout</h1>
</header>
<hr>

<nav>
	<ul>
		<li><a href="#">&lt;header&gt;태그</a></li>
		<li><a href="#">&lt;nav&gt;태그</a></li>
		<li><a href="#">&lt;section&gt;태그</a></li>
		<li><a href="#">&lt;article&gt;태그</a></li>
		<li><a href="#">&lt;footer&gt;태그</a></li>		
	</ul>	
</nav>
<hr>
<section>
	<article>
		<p>Lorem ipsum dLorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tincidunt imperdiet finibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In eleifend et est et aliquam. Maecenas at lorem sodales, dapibus nisl at, vestibulum tortor. Vestibulum at pharetra magna. Vivamus tincidunt et ipsum ac elementum. Nullam malesuada ipsum in dui ultrices, sed congue massa consequat. Sed purus libero, malesuada nec magna sed, lobortis gravida neque. Aliquam ac odio congue, convallis sapien vel, tincidunt urna. Sed feugiat suscipit lectus, sed rhoncus lacus posuere quis. Maecenas ut neque viverra, aliquam diam vitae, efficitur libero. Maecenas feugiat elit id arcu ullamcorper bibendum. Suspendisse ac aliquet turpis, at placerat felis. Donec cursus lorem quis vehicula feugiat. Nullam non rhoncus nisl, facilisis efficitur urna.</p>
		<p>Ut egestas, massa eu bibendum ornare, quam dolor varius ex, a scelerisque elit nisl nec eros. Vivamus ullamcorper id neque pellentesque interdum. Etiam suscipit purus eu lobortis aliquam. Aliquam pharetra vitae lacus et commodo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean vitae hendrerit mi. Nullam id risus urna. Mauris consectetur, quam sed gravida eleifend, erat neque finibus odio, et venenatis turpis leo vitae est. Cras scelerisque, enim et ultrices tristique, nisi turpis maximus sapien, non condimentum ligula tortor id dolor. Proin rutrum sed metus eget eleifend. Duis aliquet lacus nibh. Phasellus cursus sodales molestie. Cras vitae purus fermentum, tempor sapien eu, eleifend felis.</p>
		
		<p>Lorem ipsum dLorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tincidunt imperdiet finibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In eleifend et est et aliquam. Maecenas at lorem sodales, dapibus nisl at, vestibulum tortor. Vestibulum at pharetra magna. Vivamus tincidunt et ipsum ac elementum. Nullam malesuada ipsum in dui ultrices, sed congue massa consequat. Sed purus libero, malesuada nec magna sed, lobortis gravida neque. Aliquam ac odio congue, convallis sapien vel, tincidunt urna. Sed feugiat suscipit lectus, sed rhoncus lacus posuere quis. Maecenas ut neque viverra, aliquam diam vitae, efficitur libero. Maecenas feugiat elit id arcu ullamcorper bibendum. Suspendisse ac aliquet turpis, at placerat felis. Donec cursus lorem quis vehicula feugiat. Nullam non rhoncus nisl, facilisis efficitur urna.</p>
		<p>Ut egestas, massa eu bibendum ornare, quam dolor varius ex, a scelerisque elit nisl nec eros. Vivamus ullamcorper id neque pellentesque interdum. Etiam suscipit purus eu lobortis aliquam. Aliquam pharetra vitae lacus et commodo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean vitae hendrerit mi. Nullam id risus urna. Mauris consectetur, quam sed gravida eleifend, erat neque finibus odio, et venenatis turpis leo vitae est. Cras scelerisque, enim et ultrices tristique, nisi turpis maximus sapien, non condimentum ligula tortor id dolor. Proin rutrum sed metus eget eleifend. Duis aliquet lacus nibh. Phasellus cursus sodales molestie. Cras vitae purus fermentum, tempor sapien eu, eleifend felis.</p>	
	</article>
	<hr>
	<article class="imgbox">
		<img alt="데이브" src="/resources/image/tim.jpg"
		width= "200px" height="200px"><br>
		article in section
	</article>
	
	
</section>
<hr>
<footer style="font-size: 0.8em; text-align: center;">

&copy; lacuna
</footer>


</body>
</html>